<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../vue.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="app">
   <span v-bind:title="message">
       hello
   </span>

    <h1 v-if="ok==='A'">yes</h1>
    <h1 v-else>no</h1>

    <li v-for="item in items">
        {{item.message}}
    </li>
</div>

<script>
    let vm = new Vue({
        el: "#app",
        data: {
            message: new Date().toLocaleDateString(),
            ok: "A",
            items: [
                {message: "java"},
                {message: "cpp"},
                {message: "go"}
            ]
        }
    });
</script>
</body>
</html>